---
swagger: "2.0"
info:
  description: ""
  version: "5.0-preview"
  title: "Git"
  termsOfService: "https://go.microsoft.com/fwlink/?LinkId=329770"
  contact:
    name: "nugetvss"
    email: "nugetvss@microsoft.com"
  license:
    name: "MICROSOFT SOFTWARE LICENSE TERMS"
    url: "https://go.microsoft.com/fwlink/?LinkId=329770"
host: "fabrikam-fiber-inc.visualstudio.com"
basePath: "/"
tags:
- name: "Annotated Tags"
  description: "Git annotated tags are tags with additional metadata including the\
    \ person who created the tag and a comment."
- name: "Blobs"
  description: "Blobs are files in the Git repository."
- name: "Cherry Picks"
  description: "This API provides a way to cherry pick into a new branch either a\
    \ specific commit or commits that are associated to a\npull request."
- name: "Commits"
  description: "Controller to handle all REST calls against commits"
- name: "Diffs"
  description: "Diffs compare a target version with a base version and return a list\
    \ of items that are only in the target version.\nIf either the target or base\
    \ version isn't specified, then the default branch is used."
- name: "Forks"
- name: "Import Requests"
  description: "Create, query, and update requests to import data from another source\
    \ control system."
- name: "Items"
  description: "Items are the files, folders, and submodules in a repository.\nFiles\
    \ are represented by blobs and folders are trees.\nIf the repository contains\
    \ submodules, they will appear as commits."
- name: "Merge Bases"
  description: "Ways to find merge base(s) between commits."
- name: "Policy Configurations"
  description: "This API provides a way to list Git policy configurations.  For more\
    \ information, see \n[Improve code quality with branch policies](https://go.microsoft.com/fwlink/?linkid=859025)"
- name: "Pull Request Attachments"
  description: "This API provides a way to create and retrieve files that have been\
    \ attached to a pull request"
- name: "Pull Request Comment Likes"
  description: "This API provides methods for marking comments on pull requests as\
    \ liked.\nLiking a comment is a used as a way of indicating agreement with the\
    \ author."
- name: "Pull Request Commits"
  description: "Provides REST API methods for Git commits associated with a pull request."
- name: "Pull Request Iteration Changes"
  description: "Controller to handle all REST calls against pull request iterations"
- name: "Pull Request Iterations"
  description: "Provides REST API methods for Git pull request iterations.\nIterations\
    \ are created as a result of creating and pushing updates to a pull request."
- name: "Pull Request Iteration Statuses"
  description: "Pull request statuses can be posted on pull request iteration to indicate\
    \ that status links particular iteration. Iteration statuses behave the same way\n\
    as pull request statuses, but can expire on new source updates when StatusPolicy\
    \ is properly configured."
- name: "Pull Request Labels"
  description: "Pull Request labels provide extensibility to the pull request experience.\
    \ \nThird party services or users with read permission in the repository can\n\
    create, get, and delete labels associated with a pull request via this REST API.\n\
    Labels are used to provide quick insights into a pull request, an example\ncan\
    \ be labelling a Pull request as \"WIP\", \"Feature\", or \"Bug\" to let others\n\
    know the state and purpose of the Pull Request."
- name: "Pull Request Properties"
  description: "This API provides a way to manage external properties associated with\
    \ a pull request. Third party services can use this API\nto store additional information\
    \ on the pull request without maintaining their own storage."
- name: "Pull Request Query"
- name: "Pull Request Reviewers"
- name: "Pull Requests"
  description: "This API provides a way to create, retrieve, and modify pull requests."
- name: "Pull Request Share"
- name: "Pull Request Statuses"
  description: "Pull request statuses provide extensibility to the pull request experience.\
    \ Third party services or users with read permission to the repository\ncan create\
    \ and get statuses associated with a pull request or an iteration via this REST\
    \ API. An example of pull request status can be \"CI Build Passed\",\n\"Integration\
    \ tests pending\", \"Linting check succeeded\".\nIn order to update a status create\
    \ a new status with the same genre and name values."
- name: "Pull Request Thread Comments"
  description: "This API provides a way to retrieve or modify comments associated\
    \ with threads in a pull request.\nEach thread in a pull request can contain one\
    \ or more comments."
- name: "Pull Request Threads"
  description: "This API provides a way to retrieve or modify threads in a pull request.\n\
    Each thread in a pull request can contain one or more comments."
- name: "Pull Request Work Items"
  description: "This API provides a way to manipulate the work items associated with\
    \ a pull request."
- name: "Pushes"
  description: "Create and Query Git pushes."
- name: "Refs"
  description: "Controller to handle REST requests for git refs"
- name: "Refs Favorites"
  description: "Controller to handle REST requests for Git Ref Favorites"
- name: "Repositories"
  description: "Controller to handle all REST calls against Git Repositories"
- name: "Reverts"
  description: "This API provides a way to revert into a new branch either a specific\
    \ commit or commits that are associated to a\npull request."
- name: "Stats"
  description: "Branch statistics indicate how far behind and ahead a branch is from\
    \ the default branch. \nBranch A is \"ahead\" of branch B if branch A contains\
    \ commits not in branch B's history."
- name: "Statuses"
  description: "This API provides a way to manipulate statuses associated with the\
    \ Git commit.\nCommit status allows you to mark commits with status information\
    \ from other systems.\nFor instance, it's used in VSTS to surface the state of\
    \ the build associated with the status in the web UI."
- name: "Suggestions"
  description: "API for retrieving git pull request suggestions."
- name: "Trees"
schemes:
- "https"
security:
- accessToken: []
paths:
  /{project}/_apis/git/deletedrepositories:
    get:
      tags:
      - "Repositories"
      description: "Retrieve deleted git repositories."
      operationId: "Get Deleted Repositories"
      produces:
      - "application/json"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GitDeletedRepository"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "deletedRepositories"
      x-ms-vss-method: "GetDeletedRepositories"
      x-ms-preview: true
  /{project}/_apis/git/favorites/refs:
    get:
      tags:
      - "Refs Favorites"
      description: "Gets the refs favorites for a repo and an identity."
      operationId: "List"
      produces:
      - "application/json"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "repositoryId"
        in: "query"
        description: "The id of the repository."
        required: false
        type: "string"
        x-exportParamName: "RepositoryId"
        x-optionalDataType: "String"
      - name: "identityId"
        in: "query"
        description: "The id of the identity whose favorites are to be retrieved.\
          \ If null, the requesting identity is used."
        required: false
        type: "string"
        x-exportParamName: "IdentityId"
        x-optionalDataType: "String"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GitRefFavorite"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "refsFavorites"
      x-ms-vss-method: "GetRefFavorites"
      x-ms-preview: true
    post:
      tags:
      - "Refs Favorites"
      description: "Creates a ref favorite"
      operationId: "Create"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The ref favorite to create."
        required: true
        schema:
          $ref: "#/definitions/GitRefFavorite"
        x-exportParamName: "Body"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitRefFavorite"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "refsFavorites"
      x-ms-vss-method: "CreateFavorite"
      x-ms-preview: true
  /{project}/_apis/git/favorites/refs/{favoriteId}:
    get:
      tags:
      - "Refs Favorites"
      description: "Gets the refs favorite for a favorite Id."
      operationId: "Get"
      produces:
      - "application/json"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "favoriteId"
        in: "path"
        description: "The Id of the requested ref favorite."
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "FavoriteId"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitRefFavorite"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "refsFavorites"
      x-ms-vss-method: "GetRefFavorite"
      x-ms-preview: true
    delete:
      tags:
      - "Refs Favorites"
      description: "Deletes the refs favorite specified"
      operationId: "Delete"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "favoriteId"
        in: "path"
        description: "The Id of the ref favorite to delete."
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "FavoriteId"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "refsFavorites"
      x-ms-vss-method: "DeleteRefFavorite"
      x-ms-preview: true
  /{project}/_apis/git/policy/configurations:
    get:
      tags:
      - "Policy Configurations"
      description: "Retrieve a list of policy configurations by a given set of scope/filtering\
        \ criteria.\n\nBelow is a short description of how all of the query parameters\
        \ interact with each other:\n- repositoryId set, refName set: returns all\
        \ policy configurations that *apply* to a particular branch in a repository\n\
        - repositoryId set, refName unset: returns all policy configurations that\
        \ *apply* to a particular repository\n- repositoryId unset, refName unset:\
        \ returns all policy configurations that are *defined* at the project level\n\
        - repositoryId unset, refName set: returns all project-level branch policies,\
        \ plus the project level configurations\nFor all of the examples above, when\
        \ policyType is set, it'll restrict results to the given policy type"
      operationId: "List"
      produces:
      - "application/json"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "repositoryId"
        in: "query"
        description: "The repository id."
        required: false
        type: "string"
        format: "uuid"
        x-exportParamName: "RepositoryId"
      - name: "refName"
        in: "query"
        description: "The fully-qualified Git ref name (e.g. refs/heads/master)."
        required: false
        type: "string"
        x-exportParamName: "RefName"
        x-optionalDataType: "String"
      - name: "policyType"
        in: "query"
        description: "The policy type filter."
        required: false
        type: "string"
        format: "uuid"
        x-exportParamName: "PolicyType"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PolicyConfiguration"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "policyConfigurations"
      x-ms-vss-method: "GetPolicyConfigurations"
      x-ms-preview: true
  /{project}/_apis/git/pullrequests:
    get:
      tags:
      - "Pull Requests"
      description: "Retrieve all pull requests matching a specified criteria."
      operationId: "Get Pull Requests By Project"
      produces:
      - "application/json"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "searchCriteria.includeLinks"
        in: "query"
        description: "Whether to include the _links field on the shallow references"
        required: false
        type: "boolean"
        x-exportParamName: "SearchCriteriaIncludeLinks"
        x-optionalDataType: "Bool"
      - name: "searchCriteria.sourceRefName"
        in: "query"
        description: "If set, search for pull requests from this branch."
        required: false
        type: "string"
        x-exportParamName: "SearchCriteriaSourceRefName"
        x-optionalDataType: "String"
      - name: "searchCriteria.sourceRepositoryId"
        in: "query"
        description: "If set, search for pull requests whose source branch is in this\
          \ repository."
        required: false
        type: "string"
        format: "uuid"
        x-exportParamName: "SearchCriteriaSourceRepositoryId"
      - name: "searchCriteria.targetRefName"
        in: "query"
        description: "If set, search for pull requests into this branch."
        required: false
        type: "string"
        x-exportParamName: "SearchCriteriaTargetRefName"
        x-optionalDataType: "String"
      - name: "searchCriteria.status"
        in: "query"
        description: "If set, search for pull requests that are in this state. Defaults\
          \ to Active if unset."
        required: false
        type: "string"
        enum:
        - "notSet"
        - "active"
        - "abandoned"
        - "completed"
        - "all"
        x-ms-enum:
          name: "PullRequestStatus"
          values:
          - value: "notSet"
            description: "Status not set. Default state."
          - value: "active"
            description: "Pull request is active."
          - value: "abandoned"
            description: "Pull request is abandoned."
          - value: "completed"
            description: "Pull request is completed."
          - value: "all"
            description: "Used in pull request search criterias to include all statuses."
        x-exportParamName: "SearchCriteriaStatus"
        x-optionalDataType: "String"
      - name: "searchCriteria.reviewerId"
        in: "query"
        description: "If set, search for pull requests that have this identity as\
          \ a reviewer."
        required: false
        type: "string"
        format: "uuid"
        x-exportParamName: "SearchCriteriaReviewerId"
      - name: "searchCriteria.creatorId"
        in: "query"
        description: "If set, search for pull requests that were created by this identity."
        required: false
        type: "string"
        format: "uuid"
        x-exportParamName: "SearchCriteriaCreatorId"
      - name: "searchCriteria.repositoryId"
        in: "query"
        description: "If set, search for pull requests whose target branch is in this\
          \ repository."
        required: false
        type: "string"
        format: "uuid"
        x-exportParamName: "SearchCriteriaRepositoryId"
      - name: "maxCommentLength"
        in: "query"
        description: "Not used."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MaxCommentLength"
        x-optionalDataType: "Int32"
      - name: "$skip"
        in: "query"
        description: "The number of pull requests to ignore. For example, to retrieve\
          \ results 101-150, set top to 50 and skip to 100."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Skip"
        x-optionalDataType: "Int32"
      - name: "$top"
        in: "query"
        description: "The number of pull requests to retrieve."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Top"
        x-optionalDataType: "Int32"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GitPullRequest"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "pullRequests"
      x-ms-vss-method: "GetPullRequestsByProject"
      x-ms-preview: true
      x-ms-examples:
        Pull requests by project:
          $ref: "./httpExamples/PullRequests/GET__git_pullRequests.json"
  /{project}/_apis/git/pullrequests/{pullRequestId}:
    get:
      tags:
      - "Pull Requests"
      description: "Retrieve a pull request."
      operationId: "Get Pull Request By Id"
      produces:
      - "application/json"
      parameters:
      - name: "pullRequestId"
        in: "path"
        description: "The ID of the pull request to retrieve."
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "PullRequestId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitPullRequest"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "pullRequests"
      x-ms-vss-method: "GetPullRequestById"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/PullRequests/GET__git_repositories__repositoryId__pullRequests__pullRequestId_.json"
  /{project}/_apis/git/recycleBin/repositories:
    get:
      tags:
      - "Repositories"
      description: "Retrieve soft-deleted git repositories from the recycle bin."
      operationId: "Get Recycle Bin Repositories"
      produces:
      - "application/json"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GitDeletedRepository"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "recycleBinRepositories"
      x-ms-vss-method: "GetRecycleBinRepositories"
      x-ms-preview: true
  /{project}/_apis/git/recycleBin/repositories/{repositoryId}:
    delete:
      tags:
      - "Repositories"
      description: "Destroy (hard delete) a soft-deleted Git repository."
      operationId: "Delete Repository From Recycle Bin"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "repositoryId"
        in: "path"
        description: "The ID of the repository."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "RepositoryId"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
      security:
      - oauth2:
        - "vso.code_manage"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "recycleBinRepositories"
      x-ms-vss-method: "DeleteRepositoryFromRecycleBin"
      x-ms-preview: true
    patch:
      tags:
      - "Repositories"
      description: "Recover a soft-deleted Git repository. Recently deleted repositories\
        \ go into a soft-delete state for a period of time before they are hard deleted\
        \ and become unrecoverable."
      operationId: "Restore Repository From Recycle Bin"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/GitRecycleBinRepositoryDetails"
        x-exportParamName: "Body"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "repositoryId"
        in: "path"
        description: "The ID of the repository."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "RepositoryId"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitRepository"
      security:
      - oauth2:
        - "vso.code_manage"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "recycleBinRepositories"
      x-ms-vss-method: "RestoreRepositoryFromRecycleBin"
      x-ms-preview: true
  /{project}/_apis/git/repositories:
    get:
      tags:
      - "Repositories"
      description: "Retrieve git repositories."
      operationId: "List"
      produces:
      - "application/json"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "includeLinks"
        in: "query"
        description: "[optional] True to include reference links. The default value\
          \ is false."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeLinks"
        x-optionalDataType: "Bool"
      - name: "includeAllUrls"
        in: "query"
        description: "[optional] True to include all remote URLs. The default value\
          \ is false."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeAllUrls"
        x-optionalDataType: "Bool"
      - name: "includeHidden"
        in: "query"
        description: "[optional] True to include hidden repositories. The default\
          \ value is false."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeHidden"
        x-optionalDataType: "Bool"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GitRepository"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "repositories"
      x-ms-vss-method: "GetRepositories"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/Repositories/GET__git_repositories.json"
    post:
      tags:
      - "Repositories"
      description: "Create a git repository in a team project."
      operationId: "Create"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Specify the repo name, team project and/or parent repository.\
          \ Team project information can be ommitted from gitRepositoryToCreate if\
          \ the request is project-scoped (i.e., includes project Id)."
        required: true
        schema:
          $ref: "#/definitions/GitRepositoryCreateOptions"
        x-exportParamName: "Body"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "sourceRef"
        in: "query"
        description: "[optional] Specify the source refs to use while creating a fork\
          \ repo"
        required: false
        type: "string"
        x-exportParamName: "SourceRef"
        x-optionalDataType: "String"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/GitRepository"
      security:
      - oauth2:
        - "vso.code_manage"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "repositories"
      x-ms-vss-method: "CreateRepository"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/Repositories/POST__git_repositories.json"
  /{project}/_apis/git/repositories/{repositoryId}:
    get:
      tags:
      - "Repositories"
      description: "Retrieve a git repository."
      operationId: "Get Repository"
      produces:
      - "application/json"
      parameters:
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitRepository"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "repositories"
      x-ms-vss-method: "GetRepository"
      x-ms-preview: true
      x-ms-examples:
        Get a repository by repositoryId:
          $ref: "./httpExamples/Repositories/GET__git_repositories__repositoryId_.json"
        Get a repository by remote URL:
          $ref: "./httpExamples/Repositories/GET__git_repositories__remoteurl.json"
    delete:
      tags:
      - "Repositories"
      description: "Delete a git repository"
      operationId: "Delete"
      parameters:
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
      security:
      - oauth2:
        - "vso.code_manage"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "repositories"
      x-ms-vss-method: "DeleteRepository"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/Repositories/DELETE__git_repositories__repositoryId_.json"
    patch:
      tags:
      - "Repositories"
      description: "Updates the Git repository with either a new repo name or a new\
        \ default branch."
      operationId: "Update"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Specify a new repo name or a new default branch of the repository"
        required: true
        schema:
          $ref: "#/definitions/GitRepository"
        x-exportParamName: "Body"
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository."
        required: true
        type: "string"
        format: "uuid"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitRepository"
      security:
      - oauth2:
        - "vso.code_manage"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "repositories"
      x-ms-vss-method: "UpdateRepository"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/Repositories/PATCH__git_repositories__repositoryId_.json"
  /{project}/_apis/git/repositories/{repositoryId}/annotatedtags:
    post:
      tags:
      - "Annotated Tags"
      description: "Create an annotated tag.\n\nRepositories have both a name and\
        \ an identifier. Identifiers are globally unique, but several projects\nmay\
        \ contain a repository of the same name. You don't need to include the project\
        \ if you specify a\nrepository by ID. However, if you specify a repository\
        \ by name, you must also specify the project (by name or ID)."
      operationId: "Create"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Object containing details of tag to be created."
        required: true
        schema:
          $ref: "#/definitions/GitAnnotatedTag"
        x-exportParamName: "Body"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "repositoryId"
        in: "path"
        description: "ID or name of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitAnnotatedTag"
      security:
      - oauth2:
        - "vso.code_manage"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "annotatedTags"
      x-ms-vss-method: "CreateAnnotatedTag"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/annotatedTags/POST__git_repositories__annotated__tags.json"
  /{project}/_apis/git/repositories/{repositoryId}/annotatedtags/{objectId}:
    get:
      tags:
      - "Annotated Tags"
      description: "Get an annotated tag.\n\nRepositories have both a name and an\
        \ identifier. Identifiers are globally unique, but several projects\nmay contain\
        \ a repository of the same name. You don't need to include the project if\
        \ you specify a\nrepository by ID. However, if you specify a repository by\
        \ name, you must also specify the project (by name or ID)."
      operationId: "Get"
      produces:
      - "application/json"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "repositoryId"
        in: "path"
        description: "ID or name of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "objectId"
        in: "path"
        description: "ObjectId (Sha1Id) of tag to get."
        required: true
        type: "string"
        x-exportParamName: "ObjectId"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitAnnotatedTag"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "annotatedTags"
      x-ms-vss-method: "GetAnnotatedTag"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/annotatedTags/GET__git_repositories__annotated__tags.json"
  /{project}/_apis/git/repositories/{repositoryId}/blobs:
    post:
      tags:
      - "Blobs"
      description: "Gets one or more blobs in a zip file download."
      operationId: "Get Blobs Zip"
      consumes:
      - "application/json"
      produces:
      - "application/zip"
      parameters:
      - in: "body"
        name: "body"
        description: "Blob IDs (SHA1 hashes) to be returned in the zip file."
        required: true
        schema:
          type: "array"
          items:
            type: "string"
        x-exportParamName: "Body"
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "filename"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Filename"
        x-optionalDataType: "String"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
            format: "Stream"
      security:
      - oauth2:
        - "vso.code_manage"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "blobs"
      x-ms-vss-method: "GetBlobs"
      x-ms-preview: true
  /{project}/_apis/git/repositories/{repositoryId}/blobs/{sha1}:
    get:
      tags:
      - "Blobs"
      description: "Get a single blob.\n\nRepositories have both a name and an identifier.\
        \ Identifiers are globally unique,\nbut several projects may contain a repository\
        \ of the same name. You don't need to include\nthe project if you specify\
        \ a repository by ID. However, if you specify a repository by name,\nyou must\
        \ also specify the project (by name or ID)."
      operationId: "Get Blob"
      produces:
      - "application/zip"
      - "application/octet-stream"
      - "application/json"
      parameters:
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "sha1"
        in: "path"
        description: "SHA1 hash of the file. You can get the SHA1 of a file using\
          \ the \"Git/Items/Get Item\" endpoint."
        required: true
        type: "string"
        x-exportParamName: "Sha1"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "download"
        in: "query"
        description: "If true, prompt for a download rather than rendering in a browser.\
          \ Note: this value defaults to true if $format is zip"
        required: false
        type: "boolean"
        x-exportParamName: "Download"
        x-optionalDataType: "Bool"
      - name: "fileName"
        in: "query"
        description: "Provide a fileName to use for a download."
        required: false
        type: "string"
        x-exportParamName: "FileName"
        x-optionalDataType: "String"
      - name: "$format"
        in: "query"
        description: "Options: json, zip, text, octetstream. If not set, defaults\
          \ to the MIME type set in the Accept header."
        required: false
        type: "string"
        x-exportParamName: "Format"
        x-optionalDataType: "String"
      - name: "resolveLfs"
        in: "query"
        description: "If true, try to resolve a blob to its LFS contents, if it's\
          \ an LFS pointer file. Only compatible with octet-stream Accept headers\
          \ or $format types"
        required: false
        type: "boolean"
        x-exportParamName: "ResolveLfs"
        x-optionalDataType: "Bool"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitBlobRef"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "blobs"
      x-ms-vss-method: "GetBlob"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/Blobs/GET__git_repositories__repositoryId__blobs__objectId_.json"
  /{project}/_apis/git/repositories/{repositoryId}/cherryPicks:
    get:
      tags:
      - "Cherry Picks"
      description: "Retrieve information about a cherry pick for a specific branch."
      operationId: "Get Cherry Pick For Ref Name"
      produces:
      - "application/json"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "repositoryId"
        in: "path"
        description: "ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "refName"
        in: "query"
        description: "The GitAsyncRefOperationParameters generatedRefName used for\
          \ the cherry pick operation."
        required: true
        type: "string"
        x-exportParamName: "RefName"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitCherryPick"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "cherryPicks"
      x-ms-vss-method: "GetCherryPickForRefName"
      x-ms-preview: true
    post:
      tags:
      - "Cherry Picks"
      description: "Cherry pick a specific commit or commits that are associated to\
        \ a pull request into a new branch."
      operationId: "Create"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/GitAsyncRefOperationParameters"
        x-exportParamName: "Body"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "repositoryId"
        in: "path"
        description: "ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitCherryPick"
      security:
      - oauth2:
        - "vso.code_manage"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "cherryPicks"
      x-ms-vss-method: "CreateCherryPick"
      x-ms-preview: true
  /{project}/_apis/git/repositories/{repositoryId}/cherryPicks/{cherryPickId}:
    get:
      tags:
      - "Cherry Picks"
      description: "Retrieve information about a cherry pick by cherry pick Id."
      operationId: "Get Cherry Pick"
      produces:
      - "application/json"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "cherryPickId"
        in: "path"
        description: "ID of the cherry pick."
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "CherryPickId"
      - name: "repositoryId"
        in: "path"
        description: "ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitCherryPick"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "cherryPicks"
      x-ms-vss-method: "GetCherryPick"
      x-ms-preview: true
  /{project}/_apis/git/repositories/{repositoryId}/commits:
    get:
      tags:
      - "Commits"
      description: "Retrieve a list of commits associated with a particular push."
      operationId: "Get Push Commits"
      produces:
      - "application/json"
      parameters:
      - name: "repositoryId"
        in: "path"
        description: "The id or friendly name of the repository. To use the friendly\
          \ name, projectId must also be specified."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "pushId"
        in: "query"
        description: "The id of the push."
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "PushId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "top"
        in: "query"
        description: "The maximum number of commits to return (\"get the top x commits\"\
          )."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Top"
        x-optionalDataType: "Int32"
      - name: "skip"
        in: "query"
        description: "The number of commits to skip."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Skip"
        x-optionalDataType: "Int32"
      - name: "includeLinks"
        in: "query"
        description: "Set to false to avoid including REST Url links for resources.\
          \ Defaults to true."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeLinks"
        x-optionalDataType: "Bool"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GitCommitRef"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "commits"
      x-ms-vss-method: "GetPushCommits"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/Commits/GET__git_repositories__repositoryId__pushes__pushId__commits.json"
  /{project}/_apis/git/repositories/{repositoryId}/commits/{commitId}:
    get:
      tags:
      - "Commits"
      description: "Retrieve a particular commit."
      operationId: "Get"
      produces:
      - "application/json"
      parameters:
      - name: "commitId"
        in: "path"
        description: "The id of the commit."
        required: true
        type: "string"
        x-exportParamName: "CommitId"
      - name: "repositoryId"
        in: "path"
        description: "The id or friendly name of the repository. To use the friendly\
          \ name, projectId must also be specified."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "changeCount"
        in: "query"
        description: "The number of changes to include in the result."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "ChangeCount"
        x-optionalDataType: "Int32"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitCommit"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "commits"
      x-ms-vss-method: "GetCommit"
      x-ms-preview: true
      x-ms-examples:
        Get by ID:
          $ref: "./httpExamples/Commits/GET__git_repositories__repositoryId__commits__commitId_.json"
        With limited changes:
          $ref: "./httpExamples/Commits/GET__git_repositories__repositoryId__commits__commitId__changeCount-10.json"
  /{project}/_apis/git/repositories/{repositoryId}/commits/{commitId}/changes:
    get:
      tags:
      - "Commits"
      description: "Retrieve changes for a particular commit."
      operationId: "Get Changes"
      produces:
      - "application/json"
      parameters:
      - name: "commitId"
        in: "path"
        description: "The id of the commit."
        required: true
        type: "string"
        x-exportParamName: "CommitId"
      - name: "repositoryId"
        in: "path"
        description: "The id or friendly name of the repository. To use the friendly\
          \ name, projectId must also be specified."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "top"
        in: "query"
        description: "The maximum number of changes to return."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Top"
        x-optionalDataType: "Int32"
      - name: "skip"
        in: "query"
        description: "The number of changes to skip."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Skip"
        x-optionalDataType: "Int32"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitCommitChanges"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "changes"
      x-ms-vss-method: "GetChanges"
      x-ms-preview: true
      x-ms-examples:
        With changes:
          $ref: "./httpExamples/Changes/GET__git_repositories__repositoryId__commits__commitId__changes_top-_top__skip-_skip_.json"
  /{project}/_apis/git/repositories/{repositoryId}/commits/{commitId}/statuses:
    get:
      tags:
      - "Statuses"
      description: "Get statuses associated with the Git commit."
      operationId: "List"
      produces:
      - "application/json"
      parameters:
      - name: "commitId"
        in: "path"
        description: "ID of the Git commit."
        required: true
        type: "string"
        x-exportParamName: "CommitId"
      - name: "repositoryId"
        in: "path"
        description: "ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "top"
        in: "query"
        description: "Optional. The number of statuses to retrieve. Default is 1000."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Top"
        x-optionalDataType: "Int32"
      - name: "skip"
        in: "query"
        description: "Optional. The number of statuses to ignore. Default is 0. For\
          \ example, to retrieve results 101-150, set top to 50 and skip to 100."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Skip"
        x-optionalDataType: "Int32"
      - name: "latestOnly"
        in: "query"
        description: "The flag indicates whether to get only latest statuses grouped\
          \ by `Context.Name` and `Context.Genre`."
        required: false
        type: "boolean"
        x-exportParamName: "LatestOnly"
        x-optionalDataType: "Bool"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GitStatus"
      security:
      - oauth2:
        - "vso.code"
        - "vso.code_status"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "statuses"
      x-ms-vss-method: "GetStatuses"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/Statuses/GET__git_repositories__repositoryId__commits__commitId__statuses.json"
    post:
      tags:
      - "Statuses"
      description: "Create Git commit status."
      operationId: "Create"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Git commit status object to create."
        required: true
        schema:
          $ref: "#/definitions/GitStatus"
        x-exportParamName: "Body"
      - name: "commitId"
        in: "path"
        description: "ID of the Git commit."
        required: true
        type: "string"
        x-exportParamName: "CommitId"
      - name: "repositoryId"
        in: "path"
        description: "ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitStatus"
      security:
      - oauth2:
        - "vso.code_write"
        - "vso.code_status"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "statuses"
      x-ms-vss-method: "CreateCommitStatus"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/Statuses/POST__git_repositories__repositoryId__commits__commitId__statuses.json"
  /{project}/_apis/git/repositories/{repositoryId}/commitsbatch:
    post:
      tags:
      - "Commits"
      description: "Retrieve git commits for a project matching the search criteria"
      operationId: "Get Commits Batch"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Search options"
        required: true
        schema:
          $ref: "#/definitions/GitQueryCommitsCriteria"
        x-exportParamName: "Body"
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "$skip"
        in: "query"
        description: "Number of commits to skip."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Skip"
        x-optionalDataType: "Int32"
      - name: "$top"
        in: "query"
        description: "Maximum number of commits to return."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Top"
        x-optionalDataType: "Int32"
      - name: "includeStatuses"
        in: "query"
        description: "True to include additional commit status information."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeStatuses"
        x-optionalDataType: "Bool"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GitCommitRef"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "commitsBatch"
      x-ms-vss-method: "GetCommitsBatch"
      x-ms-preview: true
      x-ms-examples:
        Commits by a list of commit IDs:
          $ref: "./httpExamples/CommitsBatch/POST__git_repositories__repositoryId__commitsBatch__ids.json"
        Commits between two versions:
          $ref: "./httpExamples/CommitsBatch/POST__git_repositories__repositoryId__commitsBatch2.json"
  /{project}/_apis/git/repositories/{repositoryId}/diffs/commits:
    get:
      tags:
      - "Diffs"
      description: "Find the closest common commit (the merge base) between base and\
        \ target commits, and get the diff between either the base and target commits\
        \ or common and target commits."
      operationId: "Get"
      produces:
      - "application/json"
      parameters:
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "diffCommonCommit"
        in: "query"
        description: "If true, diff between common and target commits. If false, diff\
          \ between base and target commits."
        required: false
        type: "boolean"
        x-exportParamName: "DiffCommonCommit"
        x-optionalDataType: "Bool"
      - name: "$top"
        in: "query"
        description: "Maximum number of changes to return. Defaults to 100."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Top"
        x-optionalDataType: "Int32"
      - name: "$skip"
        in: "query"
        description: "Number of changes to skip"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Skip"
        x-optionalDataType: "Int32"
      - name: "baseVersionOptions"
        in: "query"
        description: "Version options - Specify additional modifiers to version (e.g\
          \ Previous)"
        required: false
        type: "string"
        enum:
        - "none"
        - "previousChange"
        - "firstParent"
        x-ms-enum:
          name: "GitVersionOptions"
          values:
          - value: "none"
            description: "Not specified"
          - value: "previousChange"
            description: "Commit that changed item prior to the current version"
          - value: "firstParent"
            description: "First parent of commit (HEAD^)"
        x-exportParamName: "BaseVersionOptions"
        x-optionalDataType: "String"
      - name: "baseVersion"
        in: "query"
        description: "Version string identifier (name of tag/branch, SHA1 of commit)"
        required: false
        type: "string"
        x-exportParamName: "BaseVersion"
        x-optionalDataType: "String"
      - name: "baseVersionType"
        in: "query"
        description: "Version type (branch, tag, or commit). Determines how Id is\
          \ interpreted"
        required: false
        type: "string"
        enum:
        - "branch"
        - "tag"
        - "commit"
        x-ms-enum:
          name: "GitVersionType"
          values:
          - value: "branch"
            description: "Interpret the version as a branch name"
          - value: "tag"
            description: "Interpret the version as a tag name"
          - value: "commit"
            description: "Interpret the version as a commit ID (SHA1)"
        x-exportParamName: "BaseVersionType"
        x-optionalDataType: "String"
      - name: "targetVersionOptions"
        in: "query"
        description: "Version options - Specify additional modifiers to version (e.g\
          \ Previous)"
        required: false
        type: "string"
        enum:
        - "none"
        - "previousChange"
        - "firstParent"
        x-ms-enum:
          name: "GitVersionOptions"
          values:
          - value: "none"
            description: "Not specified"
          - value: "previousChange"
            description: "Commit that changed item prior to the current version"
          - value: "firstParent"
            description: "First parent of commit (HEAD^)"
        x-exportParamName: "TargetVersionOptions"
        x-optionalDataType: "String"
      - name: "targetVersion"
        in: "query"
        description: "Version string identifier (name of tag/branch, SHA1 of commit)"
        required: false
        type: "string"
        x-exportParamName: "TargetVersion"
        x-optionalDataType: "String"
      - name: "targetVersionType"
        in: "query"
        description: "Version type (branch, tag, or commit). Determines how Id is\
          \ interpreted"
        required: false
        type: "string"
        enum:
        - "branch"
        - "tag"
        - "commit"
        x-ms-enum:
          name: "GitVersionType"
          values:
          - value: "branch"
            description: "Interpret the version as a branch name"
          - value: "tag"
            description: "Interpret the version as a tag name"
          - value: "commit"
            description: "Interpret the version as a commit ID (SHA1)"
        x-exportParamName: "TargetVersionType"
        x-optionalDataType: "String"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitCommitDiffs"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "commitDiffs"
      x-ms-vss-method: "GetCommitDiffs"
      x-ms-preview: true
      x-ms-examples:
        Between commit IDs:
          $ref: "./httpExamples/CommitDiffs/GET__git_repositories__repositoryId__diffs_commits_baseVersionType-_baseVersionType_.json"
        Between branches:
          $ref: "./httpExamples/CommitDiffs/GET__git_repositories__repositoryId__diffs_commits_targetVersion-_targetVersion__baseVersion-_baseVersion_.json"
        A page at a time:
          $ref: "./httpExamples/CommitDiffs/GET__git_repositories__repositoryId__diffs_commits_targetVersion-_targetVersion__baseVersion-_baseVersion___top-_top___skip-_skip_.json"
  /{project}/_apis/git/repositories/{repositoryId}/importRequests:
    get:
      tags:
      - "Import Requests"
      description: "Retrieve import requests for a repository."
      operationId: "Query"
      produces:
      - "application/json"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "includeAbandoned"
        in: "query"
        description: "True to include abandoned import requests in the results."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeAbandoned"
        x-optionalDataType: "Bool"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GitImportRequest"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "importRequests"
      x-ms-vss-method: "QueryImportRequests"
      x-ms-preview: true
      x-ms-examples:
        By repository ID:
          $ref: "./httpExamples/ImportRequests/GET__git_repositories__repositoryId__importRequests.json"
        By repository ID with abandoned requests:
          $ref: "./httpExamples/ImportRequests/GET__git_repositories__repositoryId__importRequests_includeAbandoned-True.json"
    post:
      tags:
      - "Import Requests"
      description: "Create an import request."
      operationId: "Create"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The import request to create."
        required: true
        schema:
          $ref: "#/definitions/GitImportRequest"
        x-exportParamName: "Body"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitImportRequest"
      security:
      - oauth2:
        - "vso.code_manage"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "importRequests"
      x-ms-vss-method: "CreateImportRequest"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/ImportRequests/POST__git_repositories__repositoryId__importRequests.json"
  /{project}/_apis/git/repositories/{repositoryId}/importRequests/{importRequestId}:
    get:
      tags:
      - "Import Requests"
      description: "Retrieve a particular import request."
      operationId: "Get"
      produces:
      - "application/json"
      parameters:
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "importRequestId"
        in: "path"
        description: "The unique identifier for the import request."
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ImportRequestId"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitImportRequest"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "importRequests"
      x-ms-vss-method: "GetImportRequest"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/ImportRequests/GET__git_repositories__repositoryId__importRequests__importRequestId_.json"
    patch:
      tags:
      - "Import Requests"
      description: "Retry or abandon a failed import request.\n\nThere can only be\
        \ one active import request associated with a repository. Marking a failed\
        \ import request abandoned makes it inactive."
      operationId: "Update"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The updated version of the import request. Currently, the only\
          \ change allowed is setting the Status to Queued or Abandoned."
        required: true
        schema:
          $ref: "#/definitions/GitImportRequest"
        x-exportParamName: "Body"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-exportParamName: "Project"
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "importRequestId"
        in: "path"
        description: "The unique identifier for the import request to update."
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ImportRequestId"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitImportRequest"
      security:
      - oauth2:
        - "vso.code_manage"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "importRequests"
      x-ms-vss-method: "UpdateImportRequest"
      x-ms-preview: true
      x-ms-examples:
        Retry or abandon a failed import request:
          $ref: "./httpExamples/ImportRequests/PATCH__git_repositories__repositoryId__importRequests__importRequestId_.json"
  /{project}/_apis/git/repositories/{repositoryId}/items:
    get:
      tags:
      - "Items"
      description: "Get Item Metadata and/or Content for a collection of items. The\
        \ download parameter is to indicate whether the content should be available\
        \ as a download or just sent as a stream in the response. Doesn't apply to\
        \ zipped content which is always returned as a download."
      operationId: "List"
      produces:
      - "application/json"
      parameters:
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "scopePath"
        in: "query"
        description: "The path scope.  The default is null."
        required: false
        type: "string"
        x-exportParamName: "ScopePath"
        x-optionalDataType: "String"
      - name: "recursionLevel"
        in: "query"
        description: "The recursion level of this request. The default is 'none',\
          \ no recursion."
        required: false
        type: "string"
        enum:
        - "none"
        - "oneLevel"
        - "oneLevelPlusNestedEmptyFolders"
        - "full"
        x-ms-enum:
          name: "VersionControlRecursionType"
          values:
          - value: "none"
            description: "Only return the specified item."
          - value: "oneLevel"
            description: "Return the specified item and its direct children."
          - value: "oneLevelPlusNestedEmptyFolders"
            description: "Return the specified item and its direct children, as well\
              \ as recursive chains of nested child folders that only contain a single\
              \ folder."
          - value: "full"
            description: "Return specified item and all descendants"
        x-exportParamName: "RecursionLevel"
        x-optionalDataType: "String"
      - name: "includeContentMetadata"
        in: "query"
        description: "Set to true to include content metadata.  Default is false."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeContentMetadata"
        x-optionalDataType: "Bool"
      - name: "latestProcessedChange"
        in: "query"
        description: "Set to true to include the lastest changes.  Default is false."
        required: false
        type: "boolean"
        x-exportParamName: "LatestProcessedChange"
        x-optionalDataType: "Bool"
      - name: "download"
        in: "query"
        description: "Set to true to download the response as a file.  Default is\
          \ false."
        required: false
        type: "boolean"
        x-exportParamName: "Download"
        x-optionalDataType: "Bool"
      - name: "includeLinks"
        in: "query"
        description: "Set to true to include links to items.  Default is false."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeLinks"
        x-optionalDataType: "Bool"
      - name: "$format"
        in: "query"
        description: "If specified, this overrides the HTTP Accept request header\
          \ to return either 'json' or 'zip'. If $format is specified, then api-version\
          \ should also be specified as a query parameter."
        required: false
        type: "string"
        x-exportParamName: "Format"
        x-optionalDataType: "String"
      - name: "versionDescriptor.versionOptions"
        in: "query"
        description: "Version options - Specify additional modifiers to version (e.g\
          \ Previous)"
        required: false
        type: "string"
        enum:
        - "none"
        - "previousChange"
        - "firstParent"
        x-ms-enum:
          name: "GitVersionOptions"
          values:
          - value: "none"
            description: "Not specified"
          - value: "previousChange"
            description: "Commit that changed item prior to the current version"
          - value: "firstParent"
            description: "First parent of commit (HEAD^)"
        x-exportParamName: "VersionDescriptorVersionOptions"
        x-optionalDataType: "String"
      - name: "versionDescriptor.version"
        in: "query"
        description: "Version string identifier (name of tag/branch, SHA1 of commit)"
        required: false
        type: "string"
        x-exportParamName: "VersionDescriptorVersion"
        x-optionalDataType: "String"
      - name: "versionDescriptor.versionType"
        in: "query"
        description: "Version type (branch, tag, or commit). Determines how Id is\
          \ interpreted"
        required: false
        type: "string"
        enum:
        - "branch"
        - "tag"
        - "commit"
        x-ms-enum:
          name: "GitVersionType"
          values:
          - value: "branch"
            description: "Interpret the version as a branch name"
          - value: "tag"
            description: "Interpret the version as a tag name"
          - value: "commit"
            description: "Interpret the version as a commit ID (SHA1)"
        x-exportParamName: "VersionDescriptorVersionType"
        x-optionalDataType: "String"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GitItem"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "items"
      x-ms-vss-method: "GetItems"
      x-ms-preview: true
      x-ms-examples:
        For a path:
          $ref: "./httpExamples/Items/GET__git_repositories__repositoryId__items_scopePath-_folderPath_.json"
        Single level of recursion:
          $ref: "./httpExamples/Items/GET__git_repositories__repositoryId__items_scopePath-_folderPath__recursionLevel-OneLevel.json"
        Full recursion and with content metadata:
          $ref: "./httpExamples/Items/GET__git_repositories__repositoryId__items_scopePath-_folderPath__recursionLevel-Full_includeContentMetadata-true.json"
  /{project}/_apis/git/repositories/{repositoryId}/itemsbatch:
    post:
      tags:
      - "Items"
      description: "Post for retrieving a creating a batch out of a set of items in\
        \ a repo / project given a list of paths or a long path"
      operationId: "Get Items Batch"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request data attributes: ItemDescriptors, IncludeContentMetadata,\
          \ LatestProcessedChange, IncludeLinks. ItemDescriptors: Collection of items\
          \ to fetch, including path, version, and recursion level. IncludeContentMetadata:\
          \ Whether to include metadata for all items LatestProcessedChange: Whether\
          \ to include shallow ref to commit that last changed each item. IncludeLinks:\
          \ Whether to include the _links field on the shallow references."
        required: true
        schema:
          $ref: "#/definitions/GitItemRequestData"
        x-exportParamName: "Body"
      - name: "repositoryId"
        in: "path"
        description: "The name or ID of the repository"
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "array"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "itemsBatch"
      x-ms-vss-method: "GetItemsBatch"
      x-ms-preview: true
      x-ms-examples:
        Multiple items:
          $ref: "./httpExamples/ItemsBatch/POST__git_repositories__repositoryId__itemsBatch.json"
  /{project}/_apis/git/repositories/{repositoryId}/pullrequestquery:
    post:
      tags:
      - "Pull Request Query"
      description: "This API is used to find what pull requests are related to a given\
        \ commit.  It can be used to either find the pull request that created a particular\
        \ merge commit or it can be used to find all pull requests that have ever\
        \ merged a particular commit.  The input is a list of queries which each contain\
        \ a list of commits. For each commit that you search against, you will get\
        \ back a dictionary of commit -> pull requests."
      operationId: "Get"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The list of queries to perform."
        required: true
        schema:
          $ref: "#/definitions/GitPullRequestQuery"
        x-exportParamName: "Body"
      - name: "repositoryId"
        in: "path"
        description: "ID of the repository."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitPullRequestQuery"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "pullRequestQuery"
      x-ms-vss-method: "GetPullRequestQuery"
      x-ms-preview: true
  /{project}/_apis/git/repositories/{repositoryId}/pullrequests:
    get:
      tags:
      - "Pull Requests"
      description: "Retrieve all pull requests matching a specified criteria."
      operationId: "Get Pull Requests"
      produces:
      - "application/json"
      parameters:
      - name: "repositoryId"
        in: "path"
        description: "The repository ID of the pull request's target branch."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "searchCriteria.includeLinks"
        in: "query"
        description: "Whether to include the _links field on the shallow references"
        required: false
        type: "boolean"
        x-exportParamName: "SearchCriteriaIncludeLinks"
        x-optionalDataType: "Bool"
      - name: "searchCriteria.sourceRefName"
        in: "query"
        description: "If set, search for pull requests from this branch."
        required: false
        type: "string"
        x-exportParamName: "SearchCriteriaSourceRefName"
        x-optionalDataType: "String"
      - name: "searchCriteria.sourceRepositoryId"
        in: "query"
        description: "If set, search for pull requests whose source branch is in this\
          \ repository."
        required: false
        type: "string"
        format: "uuid"
        x-exportParamName: "SearchCriteriaSourceRepositoryId"
      - name: "searchCriteria.targetRefName"
        in: "query"
        description: "If set, search for pull requests into this branch."
        required: false
        type: "string"
        x-exportParamName: "SearchCriteriaTargetRefName"
        x-optionalDataType: "String"
      - name: "searchCriteria.status"
        in: "query"
        description: "If set, search for pull requests that are in this state. Defaults\
          \ to Active if unset."
        required: false
        type: "string"
        enum:
        - "notSet"
        - "active"
        - "abandoned"
        - "completed"
        - "all"
        x-ms-enum:
          name: "PullRequestStatus"
          values:
          - value: "notSet"
            description: "Status not set. Default state."
          - value: "active"
            description: "Pull request is active."
          - value: "abandoned"
            description: "Pull request is abandoned."
          - value: "completed"
            description: "Pull request is completed."
          - value: "all"
            description: "Used in pull request search criterias to include all statuses."
        x-exportParamName: "SearchCriteriaStatus"
        x-optionalDataType: "String"
      - name: "searchCriteria.reviewerId"
        in: "query"
        description: "If set, search for pull requests that have this identity as\
          \ a reviewer."
        required: false
        type: "string"
        format: "uuid"
        x-exportParamName: "SearchCriteriaReviewerId"
      - name: "searchCriteria.creatorId"
        in: "query"
        description: "If set, search for pull requests that were created by this identity."
        required: false
        type: "string"
        format: "uuid"
        x-exportParamName: "SearchCriteriaCreatorId"
      - name: "searchCriteria.repositoryId"
        in: "query"
        description: "If set, search for pull requests whose target branch is in this\
          \ repository."
        required: false
        type: "string"
        format: "uuid"
        x-exportParamName: "SearchCriteriaRepositoryId"
      - name: "maxCommentLength"
        in: "query"
        description: "Not used."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MaxCommentLength"
        x-optionalDataType: "Int32"
      - name: "$skip"
        in: "query"
        description: "The number of pull requests to ignore. For example, to retrieve\
          \ results 101-150, set top to 50 and skip to 100."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Skip"
        x-optionalDataType: "Int32"
      - name: "$top"
        in: "query"
        description: "The number of pull requests to retrieve."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Top"
        x-optionalDataType: "Int32"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GitPullRequest"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "pullRequests"
      x-ms-vss-method: "GetPullRequests"
      x-ms-preview: true
      x-ms-examples:
        Pull requests by repository:
          $ref: "./httpExamples/PullRequests/GET__git_repositories__repositoryId__pullRequests.json"
        Just completed pull requests:
          $ref: "./httpExamples/PullRequests/GET__git_repositories__repositoryId__pullRequests_status-completed.json"
        Targeting a specific branch:
          $ref: "./httpExamples/PullRequests/GET__git_repositories__repositoryId__pullRequests_targetRefName-refs_heads_master.json"
    post:
      tags:
      - "Pull Requests"
      description: "Create a pull request."
      operationId: "Create"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The pull request to create."
        required: true
        schema:
          $ref: "#/definitions/GitPullRequest"
        x-exportParamName: "Body"
      - name: "repositoryId"
        in: "path"
        description: "The repository ID of the pull request's target branch."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "supportsIterations"
        in: "query"
        description: "If true, subsequent pushes to the pull request will be individually\
          \ reviewable. Set this to false for large pull requests for performance\
          \ reasons if this functionality is not needed."
        required: false
        type: "boolean"
        x-exportParamName: "SupportsIterations"
        x-optionalDataType: "Bool"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitPullRequest"
      security:
      - oauth2:
        - "vso.code_write"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "pullRequests"
      x-ms-vss-method: "CreatePullRequest"
      x-ms-preview: true
      x-ms-examples:
        ?
        : $ref: "./httpExamples/PullRequests/POST__git_repositories__repositoryId__pullRequests.json"
  /{project}/_apis/git/repositories/{repositoryId}/pullrequests/{pullRequestId}:
    get:
      tags:
      - "Pull Requests"
      description: "Retrieve a pull request."
      operationId: "Get Pull Request"
      produces:
      - "application/json"
      parameters:
      - name: "repositoryId"
        in: "path"
        description: "The repository ID of the pull request's target branch."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "pullRequestId"
        in: "path"
        description: "The ID of the pull request to retrieve."
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "PullRequestId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "maxCommentLength"
        in: "query"
        description: "Not used."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MaxCommentLength"
        x-optionalDataType: "Int32"
      - name: "$skip"
        in: "query"
        description: "Not used."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Skip"
        x-optionalDataType: "Int32"
      - name: "$top"
        in: "query"
        description: "Not used."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Top"
        x-optionalDataType: "Int32"
      - name: "includeCommits"
        in: "query"
        description: "If true, the pull request will be returned with the associated\
          \ commits."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeCommits"
        x-optionalDataType: "Bool"
      - name: "includeWorkItemRefs"
        in: "query"
        description: "If true, the pull request will be returned with the associated\
          \ work item references."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeWorkItemRefs"
        x-optionalDataType: "Bool"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitPullRequest"
      security:
      - oauth2:
        - "vso.code"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "pullRequests"
      x-ms-vss-method: "GetPullRequest"
      x-ms-preview: true
    patch:
      tags:
      - "Pull Requests"
      description: "Update a pull request.\n\nThese are the properties that can be\
        \ updated with the API:\n - Status\n - Title\n - Description\n - CompletionOptions\n\
        \ - MergeOptions\n - AutoCompleteSetBy.Id\n - TargetRefName (when the PR retargeting\
        \ feature is enabled)\n Attempting to update other properties outside of this\
        \ list will either cause the server to throw an `InvalidArgumentValueException`,\n\
        \ or to silently ignore the update."
      operationId: "Update"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The pull request content to update."
        required: true
        schema:
          $ref: "#/definitions/GitPullRequest"
        x-exportParamName: "Body"
      - name: "repositoryId"
        in: "path"
        description: "The repository ID of the pull request's target branch."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "pullRequestId"
        in: "path"
        description: "The ID of the pull request to retrieve."
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "PullRequestId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/GitPullRequest"
      security:
      - oauth2:
        - "vso.code_write"
      x-ms-docs-override-version: "5.0-preview.1"
      x-ms-vss-resource: "pullRequests"
      x-ms-vss-method: "UpdatePullRequest"
      x-ms-preview: true
      x-ms-examples:
        Update title:
          $ref: "./httpExamples/PullRequests/PATCH__git_repositories__repositoryId__pullRequests__pullRequestId_.json"
        Update description:
          $ref: "./httpExamples/PullRequests/PATCH__git_repositories__repositoryId__pullRequests__pullRequestId_2.json"
        Enable auto-completion and set other completion options:
          $ref: "./httpExamples/PullRequests/PATCH__git_repositories__repositoryId__pullRequests__autoCompletePullRequestId_.json"
  /{project}/_apis/git/repositories/{repositoryId}/pullRequests/{pullRequestId}/attachments:
    get:
      tags:
      - "Pull Request Attachments"
      description: "Get a list of files attached to a given pull request."
      operationId: "List"
      produces:
      - "application/json"
      parameters:
      - name: "repositoryId"
        in: "path"
        description: "The repository ID of the pull request’s target branch."
        required: true
        type: "string"
        x-exportParamName: "RepositoryId"
      - name: "pullRequestId"
        in: "path"
        description: "ID of the pull request."
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "PullRequestId"
      - name: "project"
        in: "path"
        description: "Project ID or project name"
        required: true
        type: "string"
        x-ms-required: false
        x-exportParamName: "Project"
      - name: "api-version"
        in: "query"
        description: "Version of the API to use.  This should be set to '5.0-preview.1'\
          \ to use this version of the api."
        required: true
        type: "string"
        x-exportParamName: "ApiVersion"
[...]
